<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <nav class="top-navbar">
        <div class="nav-left">
            <a href="/" class="logo">RouteWise</a>
        </div>
        <div class="nav-right">
            <!-- <a href="/home">Home</a> -->
            <a href="/planner">Planner</a>
            <a href="/history">History</a>
        </div>
    </nav>
    <div class="page-content">

        <div class="dashboard-container main-content">
            <h2>Welcome to Travel Planner</h2>

            <div class="dashboard-cards">
                <a href="/planner" class="dashboard-card">
                    <h3>Create New Itinerary</h3>
                    <p>Generate dynamic travel plans with intelligent routing.</p>
                </a>

                <a href="/history" class="dashboard-card">
                    <h3>View Trip History</h3>
                    <p>Access your previously generated itineraries.</p>
                </a>
            </div>
        </div>

    </div>
</body>

</html>