<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TravelAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="landing-body">

    <nav class="top-navbar">
        <div class="logo">RouteWise</div>

        <div class="nav-links">
            <a href="/" class="active">Home</a>
            <a href="/planner">Planner</a>
            <a href="/history">History</a>
        </div>
    </nav>

    <section class="page-section hero-section">
        <div class="hero-content">
            <h1 class="page-title">Plan Smarter. Travel Better.</h1>

            <p class="page-subtitle">
                Procedural itinerary generation powered by real road networks,
                intelligent routing, and time-aware location optimization.
            </p>

            <div class="landing-buttons">
                <a href="/planner" class="landing-primary-btn">Create Itinerary</a>
                <a href="/home" class="landing-secondary-btn">Dashboard</a>
            </div>
        </div>
    </section>

</body>

</html>